{% extends "base.html" %}
{% load django_bootstrap5 %}
{%  load i18n %}

{% block content %}
    <h1 class="my-4">{% translate 'Tasks' %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}" role="button">{% translate 'Create task' %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form method="get">
                {% csrf_token %}
                {% bootstrap_form filter.form %}
                <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
            </form>
        </div>
    </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate 'ID' %}</th>
                    <th>{% translate 'Name' %}</th>
                    <th>{% translate 'Status' %}</th>
                    <th>{% translate 'Author' %}</th>
                    <th>{% translate 'Executor' %}</th>
                    <th>{% translate 'Creation date' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if tasks %}
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td><a class="link" href="{% url 'tasks:details' task.id %}">{{ task.name }}</a></td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.author }}</td>
                        <td>{{ task.executor }}</td>
                        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                        <td>
                            <a href="{% url 'tasks:update' task.id %}">{% translate 'Update' %}</a>
                            <br>
                            <a href="{% url 'tasks:delete' task.id %}">{% translate 'Delete' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
{% endblock %}